<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScriptClick"
        tools:targetApi="31">

        <activity
            android:name=".script_page"
            android:exported="false"
            tools:ignore="IntentFilterExportedReceiver">

            <!--Inside this activity you should be having below code for
                intent filter which will check the default activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".troupe_settings"
            android:exported="false" />
    </application>

</manifest>